.periodic-row {
    display: flex;
}

.placeholder {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid black;
    height: 125px;
    margin: 2px;
    width: 100px;
}

.space-between {
    justify-content: space-between;
}
