.periodic-row {
    display: flex;
}

.placeholder {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid black;
    font-size: .75rem;
    margin: 2px;
    width: 5rem;
}

.space-between {
    justify-content: space-between;
}
